{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>VIA - Amenities Manager</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/personalized.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/css/materialize.min.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.css"/>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">

        <script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.js"></script>
        <script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
        <script src="{% static 'leaflet/leaflet-heatmap.js' %}"></script>
    </head>
  
    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'css/materialize/js/materialize.min.js' %}"></script>
     
        <ul id="dropdownData" class="dropdown-content row">
            <li><a href="#!">Amenities</a></li>
            <li class="divider"></li>
            <li><a href="#!">Households</a></li>
            <li class="divider"></li>
            <li><a href="#!">Land Use</a></li>
            <li class="divider"></li>
            <li><a href="#!">Roads</a></li>
            <li class="divider"></li>
            <li><a href="#!">Routes</a></li>
            <li class="divider"></li>
            <li><a href="#!">Stops</a></li>
            <li class="divider"></li>
            <li><a href="#!">TAZ</a></li>  
        </ul>
     
        <ul id="dropdownAna" class="dropdown-content row">
            <li><a href="#!">Passenger Dispersion</a></li>
            <li class="divider"></li>
            <li><a href="#!">Road Network</a></li>
            <li class="divider"></li>
            <li><a href="#!">Robustness</a></li>
            <li class="divider"></li>
            <li><a href="#!">Route Measure Capacity</a></li>
            <li class="divider"></li>
            <li><a href="#!">Stop Network</a></li>
            <li class="divider"></li>
            <li><a href="#!">Transport Network</a></li>
            <li class="divider"></li>
            <li><a href="#!">Travel Demand</a></li>
        </ul>

     
        <nav>
            <div class="nav-wrapper row" style = "background-color: black !important">
                <a href="#!" class="brand-logo col s2 left" style="margin-left: 40px !important;">Plexus</a>
                <ul class="hide-on-med-and-down col s10 right">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownData">Data<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownAna">Analysis<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="sass.html">Save</a></li>
                </ul>
            </div>
        </nav>
        <div class="row file-title-row">
            <form class="input-field col s6 input-file-name">
                <input type="text" style = "border-bottom: 0 !important;" value="TravelDemand-Valenzuela">
            </form>
        </div>
        <div class="body-content row">
            <div class = "side-nav-bg col s2" style="padding:0 !important;margin:0 !important;">
                <form class = "row">
                    <div class="row content-fields" style="margin-top: 40px;">
                        <div class="row field-element">
                            <div class="row field-label col s12">
                                Amenities
                            </div>
                            <div class="row input-field col s12">
                                <select id = "type-select" class="browser-default select-side">
                                    <option value="1" disabled selected>Restaurant</option>
                                    <option value="2">Grocery</option>
                                    <option value="3">Household</option>
                                    <option value="4">Cafe</option>
                                </select>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row field-label col s12">
                                Households
                            </div>
                            <div class="row input-field col s12">
                                <select id = "type-select" class="browser-default select-side">
                                    <option value="1" disabled selected>Restaurant</option>
                                    <option value="2">Grocery</option>
                                    <option value="3">Household</option>
                                    <option value="4">Cafe</option>
                                </select>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row field-label col s12">
                                Land Use
                            </div>
                            <div class="row input-field col s12">
                                <select id = "type-select" class="browser-default select-side">
                                    <option value="1" disabled selected>Restaurant</option>
                                    <option value="2">Grocery</option>
                                    <option value="3">Household</option>
                                    <option value="4">Cafe</option>
                                </select>
                            </div>
                        </div>
                        <div class="row field-element">
                            <div class="row field-label col s12">
                                Traffic Analysis Zones
                            </div>
                            <div class="row input-field col s12">
                                <select id = "type-select" class="browser-default select-side">
                                    <option value="1" disabled selected>Restaurant</option>
                                    <option value="2">Grocery</option>
                                    <option value="3">Household</option>
                                    <option value="4">Cafe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:50px;">
                        <a class="light-green btn col s12" style="font-size: 14px !important;">Run Analysis</a>
                    </div>
                </form>  
            </div>
            <div class = "map-bg col s8">
            </div>

            <div class = "side-nav-bg col s2">
                <div class="row">
                    <div class="amenities-info">
                    amenities info here
                    </div>
                </div>
                
                <div class="divider"></div>
                
                <div class="row">
                    <p class="filters-header">Filters</p>
                    
                    <p class="modes-header">Types of trips</p>                    
                    <div class = "trips-checkboxes">
                        <form action="#">
                            <input type="checkbox" id="test5" class="chk"/>
                            <label class = "checkbox-style" for="test5" style="padding-left:20px;padding-right:20px"> Trips Generated </label>
                            <input type="checkbox" id="test6" />
                            <label for="test6"  class = "checkbox-style" style="padding-left:20px;padding-right:20px"> Trips Attracted</label>
                        </form>
                    </div>
                    
                    <p class="modes-header">Modes of transportation</p>
                    
                    <div  class = "trips-checkboxes">
                        <form action="#">
                            <input type="checkbox" id="test1" />
                            <label for="test1" class = "checkbox-style" style="padding-left:20px;padding-right:20px">Jeep</label>
                            <input type="checkbox" id="test2"/>
                            <label for="test2" class = "checkbox-style" style="padding-left:20px;padding-right:20px">Bus</label>
                        </form>
                    </div>
                </div>                 
            </div>            
            
        </div>
                
                
                
                
                
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->
<!----------------------------------------------------- SCRIPTS ------------------------------------------->

<script>
        var originalContent;

        function showModify(){
          originalContent = $('#side-nav-holder').html();
          var modifyContent = $('#modify-content').html()
          $('#side-nav-holder').fadeOut('slow', function() {
              $('#side-nav-holder').replaceWith("<div id='side-nav-holder' class='side-nav-bg col s3' style='display:none'>" + modifyContent + "</div>");
              $('#side-nav-holder').fadeIn('slow');
          });
        }

        function showOriginal(){
          $('#side-nav-holder').fadeOut('slow', function() {
              $('#side-nav-holder').replaceWith("<div id='side-nav-holder' class='side-nav-bg col s3' style='display:none'>" + originalContent + "</div>");
              $('#side-nav-holder').fadeIn('slow');
          });
        }


        function copyToClipboard(text) {
          window.prompt("Copy Lat/Long values to clipboard: Ctrl+C, Enter", text);
        }

        function addAmenity(){
          $('#amenity-tbody').append('<tr><td><input placeholder="Placeholder" type="text" style="height:auto !important; font-size:11px !important;text-align: center"></td><td><input placeholder="Placeholder" type="text" style="height:auto !important; font-size:11px !important;text-align: center"></td><td><input placeholder="Placeholder" type="text" style="height:auto !important; font-size:11px !important;text-align: center"></td><td><input placeholder="Placeholder" type="text" style="height:auto !important; font-size:11px !important;text-align: center"></td></tr>');

          var mydiv = $("#amenity-tbody");
          mydiv.scrollTop(mydiv.prop("scrollHeight"));
        }

    </script>




  </body>
</html>